# Dataset
dataset/*
!dataset/.gitkeep

# Model besar diabaikan, history CSV dan hasil evaluasi tetap ikut ter-commit
models/*.keras
!models/.gitkeep

# Upload sementara dari web app
uploads/*
!uploads/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db
"venv/" 
